h3 {

	font-family: agrandir-bold;
	font-size: 52px;
	text-align: center;
	margin: 0 auto;
}


h1 {
	font-family: agrandir-black;
	font-size: 70px;
}


h2 {
	font-family: agrandir-black;
	font-size: 40px;
}

@font-face {
	font-family: "agrandir-bold";
  	src: url("fonts/Agrandir-TextBold.otf") format("opentype"), 
  	url("fonts/Agrandir-TextBold.ttf")  format("truetype"),
  	url("fonts/Agrandir-TextBold.woff2") format("woff2"),
    url("fonts/Agrandir-TextBold.woff") format("woff");
}

@font-face {
	font-family: "agrandir-regular";
  	src: url("fonts/Agrandir-Regular.otf") format("opentype"), 
  	url("fonts/Agrandir-Regular.ttf")  format("truetype"),
  	url("fonts/Agrandir-Regular.woff2") format("woff2"),
    url("fonts/Agrandir-Regular.woff") format("woff");
}

@font-face {
	font-family: "agrandir-black";
 	 src: url("fonts/Agrandir-NarrowBlack.otf") format("opentype"), 
 	 url("fonts/Agrandir-NarrowBlack.ttf")  format("truetype"),
 	 url("fonts/Agrandir-NarrowBlack.woff2") format("woff2"),
    url("fonts/Agrandir-NarrowBlack.woff") format("woff");
}

.name {
	background-color: white;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	z-index: 100;
	display: block;
	position: fixed;
}

.name input {
	border: 2px solid black;
	width: 50vw;
	height: 20hv;
	font-family: agrandir-black;
	font-size: 15vh;
}

input:focus {
	box-shadow:  0 0 1em pink, 0 0 0.2em pink;
	    outline-width: 0;

}

button {
	width: 20vw;
	height: 10vh;
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
}

button:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

#question {
	margin: 0 auto;
	text-align: center;
}

#hello {
	position: fixed;
	z-index: 90;
	display: block;
	margin-left: 100px;
	color: white;
}

iframe {
	padding: 40px;
	border: 2px solid black;
	border-radius: 20px;
	position: fixed;
	background-color: white;
	z-index: 50;
	width: 50vw;
	height: 40vh;
}

.closeout {
	width: 30px;
	height: 100%;
	border: 1px solid black;
	left: 0px;
	top: 0px;
}


#people_watch_btn {
	border: 2px solid black;
	border-radius: 50%;
	display: block;
/*	width: 400px;
	height: 200px;*/
	padding: 50px;
	text-align: center;
	margin: 0, auto;
	position: fixed;
	z-index: 10;
	left: 20vw;
	top: 30vh;
	display: none;
}


#people_watch_btn:hover {
	box-shadow:  0 0 1em white, 0 0 0.2em white;
	cursor: pointer;
	background-color: blue;
}

#walk_btn {
	border: 2px solid black;
	border-radius: 50%;
	display: block;
/*	width: 400px;
	height: 200px;*/
	padding: 50px;
	text-align: center;
	margin: 0, auto;
	position: fixed;
	z-index: 10;
	left: 50vw;
	top: 30vh;
	display: none;
}


#walk_btn:hover {
	box-shadow:  0 0 1em white, 0 0 0.2em white;
	cursor: pointer;
	background-color: pink;
}

#walk {
	top: 30vh;
	left: 30vw;
	display: none;
}

#letter_btn {
	border: 2px solid black;
	border-radius: 50%;
	display: block;
/*	width: 400px;
	height: 200px;*/
	padding: 50px;
	text-align: center;
	margin: 0, auto;
	position: fixed;
	z-index: 10;
	left: 30vw;
	top: 60vh;
	display: none;
}


#letter_btn:hover {
	box-shadow:  0 0 1em white, 0 0 0.2em white;
	cursor: pointer;
	background-color: blue;
}


#letter {
	display: none;
	padding: 50px;
	border: 2px solid black;
	border-radius: 20px;
	position: fixed;
	background-color: white;
	z-index: 50;
	width: 30vw;
	left: 20vw;
	top: 50vh;
}

#thought_btn {
	border: 2px solid black;
	border-radius: 50%;
	display: block;
/*	width: 400px;
	height: 200px;*/
	padding: 50px;
	text-align: center;
	margin: 0, auto;
	position: fixed;
	z-index: 10;
	left: 60vw;
	top: 60vh;
	display: none;
}


#thought_btn:hover {
	box-shadow:  0 0 1em white, 0 0 0.2em white;
	cursor: pointer;
	background-color: blue;
}

#thought {
	display: none;
	padding: 20px;
	border: 2px solid black;
	border-radius: 20px;
	position: fixed;
	background-color: white;
	z-index: 50;
	width: 30vw;
	text-align: center;
	margin: 0 auto;
	left: 50vw;
	top: 30vh;
}

#exit {
	border: 2px solid black;
	border-radius: 50%;
	display: block;
	width: 200px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	line-height: 100px;
	z-index: 10;
	left: 85vw;
	top: 5vh;
	display: none;
	box-sizing: border-box;
}

#exit:hover {
		box-shadow:  0 0 1em red, 0 0 0.2em red;
	cursor: pointer;
}

#people_watch {
	display: none;
	left: 20vw;
	top: 30vh;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: agrandir-bold;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
/*  overflow: hidden;
*/}

.container {
  position: relative;
  width: 100%;
  height: 1800px;
}

.image-container {
    width: 100%;
    height: 100vh;
    padding-top: 45.347%;
    position: fixed;
    top: 0;
    background-size: cover;
    background-image: url('bluesky/sky_00000.jpg');
}




.wiggle:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}